.table_0430{
    font-family: "lucida Sans Unicode", "Lucida Grande", "Segoe UI", vardana;
    border-collapse: collapse;
    width: 100%;
}

.table_0430 td, th {
    border: 1px solid #dddddd;
    text-align: left;
}
.table_0430 td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.table_0430 th {
    border: 1px solid black;
    font-size:130%;
    text-align: center;

    padding: 8px;
}

.table_0430 tr:nth-child(even) {

    background-color: #dddddd;

    background-color: #ffa500;